Repository captain-corgi/augment-local-manus-clone, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, ci-cd, task-service, ai-service, code-execution-service, web-browsing-service, filesystem-service, shell, task-management-app, result-viewer-app, dependencies, tests

Remove 'go.work' from .gitignore and add '*/vendor' to improve dependency management
  .gitignore
Labels: none

Update .gitignore to include node_modules; enhance Makefile with run-frontend target for easier development
  .gitignore
  Makefile
Labels: none

Detach app from shell in temporary
  frontend/result-viewer-app/package-lock.json
  frontend/result-viewer-app/vite.config.ts
  frontend/shell/package-lock.json
  frontend/shell/src/App.tsx
  frontend/shell/src/types/remote.d.ts
  frontend/shell/vite.config.ts
  frontend/task-management-app/package-lock.json
  frontend/task-management-app/vite.config.ts
Labels: frontend, shell, task-management-app, result-viewer-app, dependencies

feat: Enhance Navbar with user menu and notifications, add Settings component, and implement Web Browsing feature
  frontend/shell/src/App.tsx
  frontend/shell/src/components/CodeExecution.tsx
  frontend/shell/src/components/Dashboard.tsx
  frontend/shell/src/components/Filesystem.tsx
  frontend/shell/src/components/Navbar.tsx
  frontend/shell/src/components/Settings.tsx
  frontend/shell/src/components/Sidebar.tsx
  frontend/shell/src/components/WebBrowsing.tsx
  frontend/shell/src/layouts/MainLayout.tsx
  frontend/shell/vite.config.ts
Labels: frontend, shell

chore: Update @originjs/vite-plugin-federation to version 1.4.1 and enhance Vite configuration with additional shared dependencies and output settings
  frontend/result-viewer-app/package-lock.json
  frontend/result-viewer-app/package.json
  frontend/result-viewer-app/vite.config.ts
  frontend/shell/package-lock.json
  frontend/shell/package.json
  frontend/shell/src/App.tsx
  frontend/shell/src/components/ErrorBoundary.tsx
  frontend/shell/src/types/remote.d.ts
  frontend/task-management-app/package-lock.json
  frontend/task-management-app/package.json
  frontend/task-management-app/vite.config.ts
Labels: frontend, shell, task-management-app, result-viewer-app, dependencies

docs: update README and Makefile with frontend application instructions
  Makefile
  README.md
  frontend/README.md
Labels: frontend, documentation

.github/labeler.yml:

# Pull request labeler configuration

# Add 'backend' label to PRs that modify backend code
backend:
  - 'backend/**/*'

# Add 'frontend' label to PRs that modify frontend code
frontend:
  - 'frontend/**/*'

# Add 'documentation' label to PRs that modify documentation
documentation:
  - 'docs/**/*'
  - '**/*.md'

# Add 'ci-cd' label to PRs that modify CI/CD configuration
ci-cd:
  - '.github/**/*'
  - 'cicd/**/*'
  - 'docker-compose*.yml'
  - '**/Dockerfile*'

# Add 'task-service' label to PRs that modify the Task Service
task-service:
  - 'backend/task-service/**/*'

# Add 'ai-service' label to PRs that modify the AI Service
ai-service:
  - 'backend/ai-service/**/*'

# Add 'code-execution-service' label to PRs that modify the Code Execution Service
code-execution-service:
  - 'backend/code-execution-service/**/*'

# Add 'web-browsing-service' label to PRs that modify the Web Browsing Service
web-browsing-service:
  - 'backend/web-browsing-service/**/*'

# Add 'filesystem-service' label to PRs that modify the Filesystem Service
filesystem-service:
  - 'backend/filesystem-service/**/*'

# Add 'shell' label to PRs that modify the Shell Application
shell:
  - 'frontend/shell/**/*'

# Add 'task-management-app' label to PRs that modify the Task Management App
task-management-app:
  - 'frontend/task-management-app/**/*'

# Add 'result-viewer-app' label to PRs that modify the Result Viewer App
result-viewer-app:
  - 'frontend/result-viewer-app/**/*'

# Add 'dependencies' label to PRs that modify dependencies
dependencies:
  - '**/go.mod'
  - '**/go.sum'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

# Add 'tests' label to PRs that modify tests
tests:
  - '**/*_test.go'
  - '**/*.test.js'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.js'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
